table{
    table-layout: fixed;
}
tbody{
    /* height: 70vh; */
}
td{
    min-height: 70px;
    height: 70px;
    /* height: 100%; */
    box-sizing: border-box;
    /* height: 70px; */
}

h6{
    display: inline-block;
    pointer-events: none;
}
button{
}   
td div{
    pointer-events: none;
}
td ul{
    padding: 0;
    margin: 0;
    pointer-events: none;
    display: block;
}
td ul li{
    list-style: none;
    font-size: 12px;
    margin-left: 10px;
    pointer-events: none;
}
td:hover{
    /* cursor: pointer; */
}
td ul li button{
    padding: 0;
    display: inline-block;
}
