table{
    table-layout: fixed;
}

td{
    min-height: 70px;
    height: 70px;
    box-sizing: border-box;
}

h6{
    display: inline-block;
    pointer-events: none;
}
td div{
    pointer-events: none;
}
td ul{
    padding: 0;
    margin: 0;
    pointer-events: none;
    display: block;
}
td ul li{
    list-style: none;
    font-size: 12px;
    margin-left: 10px;
    pointer-events: none;
}

td ul li button{
    padding: 0;
    display: inline-block;
}
