:root{
    --col-count: 3;

}
img {
    vertical-align: middle;
}

.wrap {
    margin: auto;
}

.col {
    margin: auto;
    display: flex;
    margin-bottom: 30px;
}

.pic {
}


.pic img {
    width: 100%;
}

.text {
    width: 50%;
    padding: 10px;
    line-height: 1.5;
    box-sizing: border-box;
}

@media screen and (min-width:768px) {
    .wrap {
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        width: calc(100% / var(--col-count) - 20px);
        flex-direction: column;
    }

    .text {
        width: 100%;
    }
}


@media screen and (min-width:1200px) {

    .col {
        --col-count:2;
        flex-direction: row;
    }

    .col .text {
        width: 50%;
    }

    .col:nth-child(n+3) {
        --col-count:4;
        flex-direction: column;
        position: relative;
        opacity: 1;
    }
    .col:nth-child(n+3):hover{
        opacity: .8;
    }
    .col:nth-child(n+3) .text {
        width: 100%;
        position: absolute;
        color: #fff;
        opacity: 0;
        transition: .5s;
    }
    .col:nth-child(n+3) .text:hover {
        opacity: 1;
    }


}